@font-face {
    font-family: 'HelveticaNeue';
    src: url('assets/HelveticaNeueCyr-Thin.woff') format("woff");
}

p {
    vertical-align: middle;
    padding-top: 20%;
    font-family: 'HelveticaNeue'
}

::selection {
    background: #2ee449a2;
    color: white;
    text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
}